{% extends "experts/base.html" %}
    {% block content %}
        <br>
       <h4>再次确认被删除专家姓名与EID：</h4>

        <input type="button" class="btn btn-info"  value="返回查看信息" onclick="javascript:history.go(-1);">
        <br><br>
        <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="sol-sm-2 control-label">请输入{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="pull-right col-sm-pull-11">
                 <button type="reset" class="btn btn-warning">重置</button>
                 <button type="submit" class="btn btn-success">确认</button>
             </div>
        </form>
        {% if result.status == 'error' %}
            <p style="align-content: center;color: orangered;font-size: medium">姓名或EID有误，请重新输入</p>
        {% endif %}
    {% endblock content %}
