{% extends "experts/base.html" %}
    {% block content %}
        <br>
        <h1>增加访谈记录</h1>
        <br>
        <h3>POST方式</h3>
        <form action="/addcommenttodatabase/" method="post" name="addcomment">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="sol-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="pull-right col-sm-pull-11">
                <button type="reset" class="btn btn-warning">重置</button>
                <button type="submit" class="btn btn-success">添加</button>
            </div>

            <!--{{ form.as_p }}-->
            <!--<input type="reset">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="add">-->
        </form>

    {% endblock content %}

