
{% extends "experts/base.html" %}

{% block content %}
    <br><br>
    <h2>{{expert.ename}} - 访谈记录</h2>
    <br><br>
    {% for comment in comments %}
        <div class="expert_comment">
            <label class="sol-sm-2 control-label">专家访谈</label>
            <li> 访谈： {{ comment.eproblem }} </li>
            <li> 访谈详情： {{ comment.ecomment }} </li>
        </div>
        <br>
        <button type="button" class="btn btn-info" onclick="window.location.href='{{ comment.get_comment_update_url }}'">修改</button>&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-danger" onclick="window.location.href=''">删除</button><br><br>
        <br><br>
    {% endfor %}
{% endblock content %}