{% extends "experts/base.html" %}
{% block content %}
    <br>
    <h1>{{ expert.ename }}</h1>
    <br>
    <li> {{ expert.emobile }} </li>
    <li> {{ expert.eid }} </li>
    <li> {{ expert.esex }} </li>
    <li> {{ expert.eemail }} </li>
    <li> {{ expert.etrade }} </li>
    <li> {{ expert.esubtrade }} </li>
    <li> {{ expert.ebirthday }} </li>
    <li> {{ expert.elandline }} </li>
    <li> {{ expert.emsn }} </li>
    <li> {{ expert.eqq }} </li>
    <li> {{ expert.estate }} </li>
    <li> {{ expert.ecomefrom }} </li>
    <li> {{ expert.eremark }} </li>
    <li> {{ expert.admin_id }} </li>
    <li> {{ expert.addtime }} </li>
{% endblock content %}