{% extends "experts/base.html" %}

<script>
    function openWin()
    {
        window.location.href("{{ expert.get_comment_url }}")
    }
</script>
{% block content %}
<br>
{% if perms.experts.can_view_contact_info %}
    <h2>{{ expert.ename }}&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='{{ expert.contact_info }}'">私密信息</button>&nbsp&nbsp&nbsp
    </h2>
{% else %}
    <h2>{{ expert.ename }}&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='.'">无权限查看私密信息
        </button>
    </h2>
{% endif %}
<br>
<div class="col-sm-10" style="position: center">
    <p>
        EID: {{expert.eid}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        性别: {{expert.esex}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        生日: {{expert.ebirthday}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        地区: {{expert.elocation}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        评级: {{expert.estate}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        来源: {{expert.ecomefrom}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        添加时间:{{ expert.addtime }}
    </p>
    <p>
        行业: {{expert.etrade}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        子行业: {{expert.esubtrade}}
    </p>
    <p>备注: {{expert.eremark}}</p>
    <p>背景信息：</p>
    <p style="font-size: 11px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{expert.ebackground }}</p>
</div>

<!--<table class="table table-bordered" style="table-layout: fixed" style="font-size:10px;">
  <caption></caption>
  <thead>
    <tr>
        <th>EID</th>
        <td>{{ expert.eid }}</td>
        <th>性别</th>
        <td>{{ expert.esex }}</td>
        <th>生日</th>
        <td>{{ expert.ebirthday }}</td>
    </tr>
    <tr>

        <th>行业</th>
        <td>{{ expert.etrade }}</td>
        <th>子行业</th>
        <td>{{ expert.esubtrade }}</td>
        <th>地区</th>
        <td>{{ expert.elocation }}</td>
    </tr>
    <tr>
        <th>评级</th>
        <td>{{ expert.estate }}</td>
        <th>来源</th>
        <td>{{ expert.ecomefrom }}</td>
        <th>备注</th>
        <td>{{ expert.eremark }}</td>
    </tr>
    <tr>
        <th>添加时间</th>
        <td>{{ expert.addtime }}</td>
    </tr>
  </thead>

</table>-->
<br>
<h5>工作经历 &nbsp&nbsp&nbsp<input type="button" class="btn btn-success btn-sm"  value="新建工作经历" onclick="window.location.href='{{ expert.add_workexp_url }}'"></h5>
<table class="table table-condensed table-hover" width="100%" style="font-size:10px; max-height:50px">
                    <caption></caption>
                    <thead>
                    <tr>
                        <th width="10%">时间</th>
                        <th width="8%">公司/部门</th>
                        <th width="8%">职位</th>
                        <th width="70%">职责</th>
                        <th width="4%"></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for exp in workexps %}
                    <tr class="info">
                        <td>{{ exp.stime }} - {{ exp.etime }}</td>
                        <td>{{ exp.company }} - {{ exp.agency }}</td>
                        <td>{{ exp.position }}</td>
                        <td>{{ exp.duty }}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{{ exp.get_workexp_update_url }}'">修改</button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{{ exp.delete_workexp }}'">删除</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if result.status == 'success'%}
                        <td>{{ exp.stime }} - {{ exp.etime }}</td>
                        <td>{{ exp.company }} - {{ exp.agency }}</td>
                        <td>{{ exp.position }} - {{ exp.duty }}</td>
                        <td> {{ exp.area }}</td>
                        <td>            <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='{{ exp.delete_workexp_confirm }}'">确认删除</button></td>
                    {% endif %}
                    </tbody>
                </table>
<h5>Comments &nbsp&nbsp&nbsp<input type="button" class="btn btn-success btn-sm"  value="新建Comment" onclick="window.location.href='{{ expert.add_comment_url }}'"></caption>
  </h5>
<table class="table table-condensed table-hover" width="100%" style="font-size:10px">
    <caption></caption>
    <thead>
    <tr>
        <th width="26%">问题</th>
        <th width="60%">详情</th>
        <th width="4%"></th>

    </tr>
  </thead>
  <tbody>
  {% for comment in comments %}
   <tr class="info">

      <td>{{ comment.eproblem }}</td>
      <td>{{ comment.ecomment }}</td>

       <td>
           <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{{ comment.get_comment_update_url }}'">修改</button>
           <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{{ comment.delete_comment }}'">删除</button>
       </td>
  </tr>
  {% endfor %}
  {% if result.status == 'success'%}
            <td> {{ c.eproblem }} </td>
            <td> {{ c.ecomment }} </td>

  <td><button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='{{ c.delete_comment_confirm }}'">确认删除</button></td>
  {% endif %}
  </tbody>
</table>
<!--<div class="panel-group" id="accordion">

    <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<button class="btn btn-info" data-toggle="collapse" data-parent="#accordion"
				   href="#collapseOne">
				    查看工作经历
				</button>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<table class="table table-condensed table-hover" width="100%">
                    <caption><input type="button" class="btn btn-success btn-sm"  value="新建工作经历" onclick="window.location.href='{{ expert.add_workexp_url }}'"></caption>
                    <thead>
                    <tr>
                        <th width="15%">时间</th>
                        <th width="30%">公司/部门</th>
                        <th width="10%">职位</th>
                        <th width="45%">职责</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for exp in workexps %}
                    <tr class="info">
                        <td>{{ exp.stime }} - {{ exp.etime }}</td>
                        <td>{{ exp.company }} - {{ exp.agency }}</td>
                        <td>{{ exp.position }}</td>
                        <td>{{ exp.duty }}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{{ exp.get_workexp_update_url }}'">修改</button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{{ exp.delete_workexp }}'">删除</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if result.status == 'success'%}
                        <td>{{ exp.stime }} - {{ exp.etime }}</td>
                        <td>{{ exp.company }} - {{ exp.agency }}</td>
                        <td>{{ exp.position }} - {{ exp.duty }}</td>
                        <td> {{ exp.area }}</td>
                        <td>            <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='{{ exp.delete_workexp_confirm }}'">确认删除</button></td>
                    {% endif %}
                    </tbody>
                </table>
			</div>
		</div>
	</div>
    <br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<button class="btn btn-info" data-toggle="collapse" data-parent="#accordion"
				   href="#collapseTwo">
				查看专家评论
				</button>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<table class="table table-condensed table-hover" style="table-layout: fixed">
  <caption><input type="button" class="btn btn-success btn-sm"  value="新建Comment" onclick="window.location.href='{{ expert.add_comment_url }}'"></caption>
  <thead>
    <tr>
        <th>问题</th>
        <th>详情</th>
        <th></th>

    </tr>
  </thead>
  <tbody>
  {% for comment in comments %}
   <tr class="info">

      <td>{{ comment.eproblem }}</td>
      <td>{{ comment.ecomment }}</td>

       <td>
           <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{{ comment.get_comment_update_url }}'">修改</button>
           <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{{ comment.delete_comment }}'">删除</button>
       </td>
  </tr>
  {% endfor %}
  {% if result.status == 'success'%}
            <td> {{ c.eproblem }} </td>
            <td> {{ c.ecomment }} </td>

  <td><button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='{{ c.delete_comment_confirm }}'">确认删除</button></td>
  {% endif %}
  </tbody>
</table>
			</div>
		</div>
	</div>

</div>-->


{% endblock content %}