{% extends "experts/base.html" %}
<script>
    function openWin()
    {
        window.location.href("{{ expert.get_comment_url }}")
    }
</script>
{% block content %}
    <br>
    <h1>{{ expert.ename }}</h1>
    <br>
    <li> 电话： {{ expert.emobile }} </li>
    <li> EID： {{ expert.eid }} </li>
    <li> 性别： {{ expert.esex }} </li>
    <li> 邮箱： {{ expert.eemail }} </li>
    <li> 行业： {{ expert.etrade }} </li>
    <li> 子行业： {{ expert.esubtrade }} </li>
    <li> 生日： {{ expert.ebirthday }} </li>
    <li> 地区： {{expert.elocation}} </li>
    <li> Landline：{{ expert.elandline }} </li>
    <li> MSN: {{ expert.emsn }} </li>
    <li> QQ: {{ expert.eqq }} </li>
    <li> State： {{ expert.estate }} </li>
    <li> 来源： {{ expert.ecomefrom }} </li>
    <li> 备注： {{ expert.eremark }} </li>
    <li> admin_id：{{ expert.admin_id }} </li>
    <li> 添加时间： {{ expert.addtime }} </li>
<br><br>
<button type="button" class="btn btn-warning" onclick="window.location.href='{{ expert.get_comment_url }}'">专家访谈</button>&nbsp&nbsp&nbsp
<button type="button" class="btn btn-warning" onclick="window.location.href='{{ expert.get_workexp_url }}'">工作经历</button><br><br>



    <!--<input type="button" value="专家访谈" onclick="window.location.href('{{ expert.get_comment_url }}')">
    <br>
    {% for comment in comments %}
        <div class="expert_comment">
            <label class="sol-sm-2 control-label">专家访谈</label>
            <li> 访谈： {{ comment.eproblem }} </li>
            <li> 访谈详情： {{ comment.ecomment }} </li>
        </div>
        <br>
    {% endfor %}-->
{% endblock content %}