{% extends "experts/base.html" %}
{% block content %}
    <br>
    <h2>专家列表</h2>
    <br>
<table class="table table-striped">
	<caption></caption>
   <thead>
      <tr>
          <th>姓名</th>
          <th>性别</th>
          <th>行业</th>
          <th>地区</th>

      </tr>
   </thead>
   <tbody>
   {% for expert in experts %}
      <tr>
          <td><a href="{{ expert.get_absolute_url }}"> {{ expert.ename }}</a></td>
         <td>{{ expert.esex }}</td>
         <td>{{ expert.etrade }}</td>
          <td>{{ expert.elocation }}</td>
      </tr>

    {% endfor %}
   </tbody>
</table>

    {% include "experts/pagination.html" with page=experts %}
{% endblock content %}